[Desktop Entry]
Encoding=UTF-8
Name=sradio
GenericName=Online radio player
Comment=Radio rocks
Exec=/usr/bin/sradio
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Player;
Icon=sradio